#walrus-showing {
  display: none;
}

#initially-hidden {
  display: none;
}

.clickable {
  color: blue;
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}

img {
  width: 250px;
}

.clickable2 {
  color: blue;
  cursor: pointer;
}

.clickable2:hover {
  text-decoration: underline;
}
.red-background{
  color: black;
  background-color: red;
}
.yellow-background{
  color: red;
  background-color: yellow;
}
.green-background{
  color: yellow;
  background-color: green;
}
