#walrus-showing {
  display: none;
}

#initially-hidden {
  display: none;
}

.clickable {
  color: blue;
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}

img {
  width: 250px;
}

.clickable2 {
  color: blue;
  cursor: pointer;
}

.clickable2:hover {
  text-decoration: underline;
}
